<div *ngIf="rootNode$ | async as rootNode" class="container">
  <button
    class="container-add-button"
    mat-flat-button
    color="primary"
    (click)="setActiveNodeId(rootNode.id)"
  >
    Add folder to root
  </button>

  <div class="container-create-in-root">
    <app-create-node
      [nodeId]="rootNode.id"
      [isRoot]="true"
      (create)="addNewNode($event, rootNode)"
    ></app-create-node>
  </div>

  <ng-container *ngFor="let child of rootNode.children">
    <app-folder [parentNode]="rootNode" [node]="child"></app-folder>
  </ng-container>
</div>
